<div class="row">
  <div class="column">
    <div class="info-text">
      <h1> Update Your Trip</h1> </br>
    </div>
  </div>
  <div class="column">
    <div class="form">
      <%= form_for @trip, url: traveler_trips_path do |f| %>
        <%=f.hidden_field :traveler_id%>
        Trip Name:
        <%= f.text_field :name %> </br>
        Trip Start Date: <%= f.datetime_select :start_date %></br>
        Trip End Date: <%= f.datetime_select :end_date%></br>
        Add Attractions: </br>
        <h3>Add Existing:<%=f.collection_select :attraction_id, Attraction.all, :id, :name %></br>
        Add New:</br>
        <%=f.fields_for :attraction, @trip.attractions.build do |attraction_fields|%>
          Name: <%=attraction_fields.text_field :name %></br>
          Location: <%=attraction_fields.text_field :location %></br>
          Hours: <%=attraction_fields.text_field :hours %></br>
          Price: <%=attraction_fields.text_field :price %>
        <%end%> </h3>
        <%= f.submit %>
      <% end %>
    </div>
  </div>
</div>
