<head>

</head>

<div class="row">
  <div class="column">
    <div class="info-text">
      <h1> Create Your Trip</h1> </br>
    </div>
  </div>
  <div class="column">
    <div class="form">
      <%= form_for @trip, url: traveler_trips_path do |f| %>
      <% if @trip.errors.any? %>
        <div id="error_explanation">
          <h3>
            <%= pluralize(@trip.errors.count, "error") %>
            prohibited this post from being saved:
          <ul>
          <% @trip.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
          </ul>
          </h3>
        </div>
      <% end %>
        <%=f.hidden_field :traveler_id%>
        Trip Name:
        <%= f.text_field :name %> </br>
        Trip Start Date: <%= f.datetime_select :start_date, :ampm => true, :start_year => 2018, :order => [:month, :day, :year] %></br>
        Trip End Date: <%= f.datetime_select :end_date, :ampm => true, :start_year => 2018, :order => [:month, :day, :year] %></br>
        <div class="selectAttraction"><%=f.select :attraction_id, options_for_select(Attraction.all.collect{|attr| [attr.name, attr.id]}),{:include_blank=>"Please choose an Attraction"}%></div>
        <div id="moreAttractions">
        </div>
        <h3><a id="addAttractions" href="#">Add Another Attraction</a></h3>
        <%= f.submit %>
      <%end%>
      <h3><a id="createAttraction" href="<%=new_attraction_path%>">Create New Attraction</a></h3>
    </div>
  </div>
</div>
