<div class="row">
  <div class="column">
    <div class="info-text">
      <h1> Create Your Trip</h1> </br>
    </div>
  </div>
  <div class="column">
    <div class="form">
      <%= form_for @trip, url: traveler_trips_path do |f| %>
        <%=f.hidden_field :traveler_id%>
        Trip Name:
        <%= f.text_field :name %> </br>
        Trip Start Date: <%= f.datetime_select :start_date, :ampm => true, :start_year => 2018, :order => [:month, :day, :year] %></br>
        Trip End Date: <%= f.datetime_select :end_date, :ampm => true, :start_year => 2018, :order => [:month, :day, :year] %></br>
        <h3>What do you want to see?</br>
        <%=f.collection_check_boxes :attraction_ids, Attraction.all, :id, :name %><br>
        <%= f.submit %>
      <% end %> </br>
    </br><a href="<%new_attraction_path%>" class="button">Add New Attraction</a>
    </div>
  </div>
</div>
