<head>
  <title>TravelerTracker</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <link href="https://fonts.googleapis.com/css?family=Markazi+Text" rel="stylesheet">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.6.1/jquery.min.js"></script>
  <%= stylesheet_link_tag 'application', media: 'all'%>
</head>

<div class="row">
  <div class="column">
    <div class="info-text">
      <h1> Create Your Trip</h1> </br>
    </div>
  </div>
  <div class="column">
    <div class="form">
      <%= form_for @trip, url: traveler_trips_path do |f| %>
      <% if @trip.errors.any? %>
        <div id="error_explanation">
          <h3>
            <%= pluralize(@trip.errors.count, "error") %>
            prohibited this post from being saved:
          <ul>
          <% @trip.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
          </ul>
          </h3>
        </div>
      <% end %>
        <%=f.hidden_field :traveler_id%>
        Trip Name:
        <%= f.text_field :name %> </br>
        Trip Start Date: <%= f.datetime_select :start_date, :ampm => true, :start_year => 2018, :order => [:month, :day, :year] %></br>
        Trip End Date: <%= f.datetime_select :end_date, :ampm => true, :start_year => 2018, :order => [:month, :day, :year] %></br>
        <!-- <h3>What do you want to see?</h3> -->
        <!-- <h3><%=f.collection_check_boxes :attraction_ids, Attraction.all, :id, :name %></h3> -->
        <%=f.select :attraction_id, options_for_select(Attraction.all.collect{|attr| [attr.name, attr.id]}),{:include_blank=>"Please choose an Attraction"}%>
        <div id="moreAttractions">
              <h3><a id="addAttractions" href="#">Add Another Attraction</a></h3>
        </div>
        <%= f.submit %>
      <%end%>
      <h3><a id="createAttraction" href="<%=new_attraction_path%>">Create New Attraction</a></h3>
        <form id="test_toggle">
          <b>First Name:</b> <input type="text" name="firstName">
          <b>Last Name: </b><input type="text" name="lastName">
           <button type="button" id="submit">Submit</button>
        </form>
    </div>
  </div>
</div>
