<div class="row" >
  <div class="column">
    <div class="info-text">
      <h1><%=@trip.name%></h1>
    </div>
  </div>
  <div class="column">
    <div class="form">
      Dates: <%=@trip.start_date.strftime("%b %e, %Y")%> - <%=@trip.end_date.strftime("%b %e, %Y")%> </br>
      Planned Stops: </br>
      <%@trip.attractions.each do |attraction|%>
        <%=link_to attraction.name, attraction_path(attraction)%> </br>
      <%end%> </br>
      <%= link_to "Edit Trip", edit_traveler_trip_path(@trip.traveler, @trip) %>
    </div>
  </div>
<div>
