<div class="row">
  <div class="column">
    <div class="info-text">
      <h1> Welcome Traveler </br>
      Log In Here</h1>
        <h2> Or <a href="/auth/github" class="button">  Login Via Github</a> </h2>
    </div>
  </div>
  <div class="column">
    <div class="form">
      <%= form_for @traveler, :url => url_for(controller: 'sessions', action: 'create', method: 'post') do |f| %>
        <%=f.label :name%> </br>
        <%=f.text_field :name%> </br>
        <%=f.label :password%> </br>
        <%=f.password_field :password%> </br>
        <%=f.submit "Log In"%>
      <%end%>
    </div>
  </div>
</div>
