<div class="row">
  <div class="column">
    <div class="info-text">
      <h1> Welcome <%=@traveler.name%> </h1> </br>
      <br><h2> Additional Info </h2></br>
      <h2>Budget: $<%=@traveler.budget%></h2></br>
      <h2>Nationality: <%=@traveler.nationality%></h2></br>
      <h2>Interests: <%=@traveler.interests%></h2></br>
    </div>
 </div>
 <div class="column">
   <div class="form">
      <h2> Upcoming Trips </h2>
        <% if Trip.trips?%>
          <%=Trip.upcoming_trips.each do |t|%>
            <p><%=t.name%></p>
          <%end%>
        <%else%>
          <p> You have no upcoming trips </p>
        <%end%>


      <a href="<%= new_traveler_trip_path(@traveler)%>" class="button">Create New Trip</a>
      <a href="/trips/index" class="button">View All Trips</a>
    </div>
  </div>
</div>
