<head>
  <title>TravelerTracker</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.6.1/jquery.min.js"></script>
  <%= javascript_include_tag 'trips', media: 'all'%>
</head>

<div class="row">
  <div class="column">
    <div class="info-text">
      <h1> Welcome <%=@traveler.name%> </h1> </br>
      <br><h2> Additional Info </h2></br>
      <h2>Budget: $<%=@traveler.budget%></h2></br>
      <h2>Nationality: <%=@traveler.nationality%></h2></br>
      <h2>Interests: <%=@traveler.interests%></h2></br>
    </div>
 </div>
 <div class="column">
   <div class="form">
      <h2> Upcoming Trips </h2>
        <% if @traveler.trips%>
          <%@traveler.trips.upcoming_trips.each do |trip|%>
            <p><%= link_to trip.name, traveler_trip_path(@traveler, trip)%> </br></p>
          <%end%>
        <%else%>
          <p> You have no upcoming trips </p>
        <%end%>

      <a href="<%= new_traveler_trip_path(@traveler)%>" class="button">Create New Trip</a>
      <a id="indexTrips" href="#" data-id="<%=@traveler.id%>" class="button">View All Trips</a>
    </div>
  </div>
</div>
