<!DOCTYPE html>
<%require 'pry' %>
<html>
  <head>
    <title>TravelerTracker</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <link href="https://fonts.googleapis.com/css?family=Markazi+Text" rel="stylesheet">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="topnav">
      <%if @traveler%>
        <a href="/logout">Logout</a>
      <%end%>
      <a href="attractions#index">Attractions</a>
      <a href="travelers#show">Profile</a>
    </div>
    <%= yield %>
  </body>
</html>
