<!DOCTYPE html>
<html>
  <head>
    <title>TravelerTracker</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <link href="https://fonts.googleapis.com/css?family=Markazi+Text" rel="stylesheet">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="topnav">
        <%if session.include? :traveler_id%>>
          <a href="/logout">Logout</a>
          <a href="<%=attractions_path%>">Attractions</a>
          <a href="<%=traveler_trips_path(@traveler)%>">Trips</a>
          <a href="<%=traveler_path(@traveler)%>">Profile</a>
        <%end%>
    </div>
    <%= yield %>
  </body>
</html>
