<div class="row">
  <div class="column">
    <div class="info-text">
      <h1> <%=@attraction.name%></h1> </br>
    </div>
  </div>
  <div class="column">
    <div class="form">
      Location:<%=@attraction.location%></br>
      Hours: <%=@attraction.hours%></br>
      Price: $<%=@attraction.price%></br>
      <%= link_to "Edit Attraction", edit_attraction_path(@attraction) %>
    </div>
  </div>
</div>
